[data-role="content"] {
  width: 130rem;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
}
[data-role="content"] > div {
  clear: both;
  display: flex;
  align-items: center;
  margin: 1em 0 2em;
  padding: 0;
}

[data-role="content"] > div > * {
  width: 40%;
  padding: 0 2em;
  vertical-align: middle;
  box-sizing: border-box;
  flex: 0 0 auto;
  font-size: 1.2em;
  display: inline-block;
}

[data-role="content"] > div picture {
  text-align: center;
  width: 60%;
}
[data-role="content"] > div picture.right {
  order: 2;
}
[data-role="content"] > div picture img {
  max-width: 100%;
  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  transition: .5s;
}
[data-role="content"] > div picture img:hover {
  transform: scale(1.05);
}

[data-role="content"] > div .button {
  display: block;
  margin: auto;
  width: fit-content;
}

@media (max-width: 850px) {
  [data-role="content"] > div {
    display: inline-block;
  }
  [data-role="content"] > div > * {
    width: 100%!important;
    text-align: center;
    padding: 0 1em;
  }
  [data-role="content"] > div picture.right {
    order: unset;
  }
}